variables:
  buildConfiguration: 'Release'

steps:

- task: Npm@1
  displayName: 'npm install'
  inputs:
    command: install

- task: Npm@1
  displayName: 'Build Angular'
  inputs:
    command: custom
    customCommand: run build -- --prod

- task: PublishPipelineArtifact@0
  inputs:
    artifactName: 'drop'
    targetPath: 'src/angular7/dist'