img {
  width: 100%;
}

.photo-cropper-wrapper {
  position: relative;
  width: 75vw;

  mat-spinner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
}
